* {
    margin: 0;
    padding: 0;
  }
  
  header {
      /* 왼쪽상단에 고정 */
    position: fixed;
    top: 0;
    left: 0;
    /* 100% */
    width: 100%;
    /* 가로로 배치 */
    display: flex;
    /* 박스 자체의 크기로 세팅 */
    box-sizing: border-box;
    height: 60px;
    border-bottom: 1px solid #ddd;
    /* flex에 대한 요소들의 가운데 세팅 */
    align-items: center;
    background-color: #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    /* 얘가 젤 위에 가도록 */
    z-index: 10;
  }
  
  main {
      /* 메인에 대해 여유를 줌 */
    margin: 60px auto 0; /* margin-top을 header가 차지하는 만큼 줌 */
    padding: 2em 4em;
  }
  /* 글자들에 대해 여유를 줌 */
  main > p {
    margin-top: 2em;
    text-align: justify;
  }
  
  #menu-button {
    width: 40px;
    border: none;
    background-color: transparent;
    padding: 10px;
    cursor: pointer;
    margin-right: 2em;
  }
  /* 메뉴 버튼에 아웃라인 제거 */
  #menu-button:focus {
    outline: none;
  }
  /* bar의 요소들을 메뉴버튼에 넣는다 */
  #menu-button > .bar {
    width: 100%;
    height: 3px;
    background-color: #333;
    border-radius: 1.5px;
    margin: 3px auto;
  }
  
  #side-menu {
    position: fixed;
    top: 60px; /* header의 높이 다음에 나올 수 있도록 */
    left: 0;
    bottom: 0;
    border-right: 1px solid #ddd;
    background-color: #eee;
    width: 200px;
    padding: 10px 20px;
    box-shadow: 1px 0 2px rgba(0, 0, 0, 0.4);
    transition-duration: 500ms;
  }
  /* 핵심! class="hidden"에 지정하는 속성 */
  #side-menu.hidden {
    left: -100%;
  }
  /* 사이드메뉴의 ul속성을 바꿈 */
  #side-menu > ul {
    list-style: none;
  }
  /* sidemenu.ul.li를 건드림 */
  #side-menu > ul > li {
    margin: 20px 0;
  }
  
  #side-menu > ul > li > a {
    text-decoration: none;
    color: #555;
  }
  /* 마우스 올렸을 때 두껍게 */
  #side-menu > ul > li > a:hover {
    font-weight: bold;
    color: #222;
  }

  .container {
    display: grid;
    /* 150px*5개 */
    width: 999px;
    /* 가로로 5개씩 쌓임 */
    grid-template-columns: repeat(3, 333px);
    grid-auto-rows: 500px;
    /* 위 아래로는 20px 양옆은 가운데 배치 */
    margin: 20px auto;
  }

  img {
    /* 이미지 크기를 100%로 */
  width: 100%;
  height: 100%;
  /* 변하는 모습 부드럽게 0.5초 */
  transition-duration: 500ms;
  opacity: 0.5;
}

img:hover {
    /* 1.1배 정도 크게 보이게 */
  transform: scale(1.05);
  /* 마우스 올리면 찐해지게 */
  opacity: 1;
  /* 커질 때 곂쳐지는 부분이 앞으로 나오게 */
  z-index: 1;
}

  div.big1 {
    /* 현재 차지하고 있는 위치에서 컬럼을 2칸을 씀 */
  grid-column: span 3;

}

div.big2 {
    /* 현재 차지하고 있는 위치에서 컬럼을 2칸을 씀 */
  grid-column: span 2;
  margin: 20px;
}
div.big3 {
    /* 현재 차지하고 있는 위치에서 컬럼을 2칸을 씀 */
    height: 250px;
  grid-column: span 2;
  margin: 20px;
}
  